.App {
  text-align: center;
  margin: 0 20px;
}

.feed {
  display: inline-flex;
  text-align: left;
  margin-top: 12px;
  border: 1px black solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
